*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
/staticfiles/

#src
*.sqlite*

.env
.venv/
.coverage
__pycache__

django/fuzz_report.log
**/fuzz_report.log

/memory-bank/

